In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

In [2]:
d=pd.read_csv('D:/afsal/dataset/iris.csv')

In [3]:
d.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width   Class
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
from sklearn import preprocessing
a=preprocessing.LabelEncoder()
d['Class']=a.fit_transform(d['Class'])
d['Class'].unique()

array([0, 1, 2])

In [6]:
d.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [7]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

In [11]:
y=d['Class']
x=d.drop(['Class'],axis=1)
  
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.25)
  
knn=KNeighborsClassifier(n_neighbors=7)
  
knn.fit(x_train,y_train)
  
# Predict on dataset which model has not seen before
predict=(knn.predict(x_test))
print(predict)

[1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0 0 0 1 0 0 2 1
 0]

In [12]:
print("Accuracy:",metrics.accuracy_score(y_test,predict))

Accuracy: 1.0

In [15]:
knn.predict([[2,4,5,6]])

C:\Users\afsal\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([2])